@{
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}


<div class="container p-3   text-center">
    <h1>Bar_Chart_Single</h1>
    <canvas id="myChart"></canvas>
</div>

@section chartjs_scripts{
    <script>
        const chartElement = document.getElementById('myChart');

        new Chart(chartElement, {
            type: 'bar',
            data: {
                labels: ['第一個', '第二個', '第三個'],
                datasets: [{
                    label: '我是種類',
                    data: [1, 10, 5],
                }]
            }
        });
    </script>
}