/Omnibackend.Shop/bin
/JdSdk/bin
/ECBackendLib/bin
/Project.Test/bin
/CafeLib/bin
/omnibackend.logic/bin
/StoreInspection/bin
/omnibackend.web/bin
/omnibackend.openapi/bin
/TmallSdk/bin
/omnibackend.event/bin
/Omnibackend.Workflow/bin
/omnibackend.api/bin
/omnibackend.api/bin/Debug
/JdSdk/obj/Debug
/ECBackendLib/obj/Debug
/Project.Test/obj/Debug
/CafeLib/obj/Debug
/omnibackend.logic/obj/Debug
/StoreInspection/obj/Debug
/Omnibackend.Workflow/obj/Debug
/Omnibackend.Shop/obj/Debug
/omnibackend.web/obj/Debug
/omnibackend.openapi/obj/Debug
/Omnibackend.Shop/bin/Debug
/JdSdk/bin/Debug
/ECBackendLib/bin/Debug
/Project.Test/bin/Debug
/CafeLib/bin/Debug
/omnibackend.logic/bin/Debug
/StoreInspection/bin/Debug
/TmallSdk/obj/Debug
/TmallSdk/bin/Debug
/omnibackend.event/obj/Debug
/omnibackend.event/bin/Debug
/Omnibackend.Workflow/bin/Debug
/omnibackend.api/obj/Debug
/omnibackend.web/*.user
/omnibackend.openapi/*.user
/.vs
/*.bak
/packages
/omnibackend.web/obj/CHN.UAT.Debug
/Jd.Stock.Sync/obj/Debug
/Order.Sync.V2/obj/Debug
/Print.Client.V2/obj/Debug
/CafeLib/obj/Release
/ECBackendLib/obj/Release
/JdSdk/obj/Release
/omnibackend.api/obj/Release
/omnibackend.event/obj/Release
/omnibackend.logic/obj/Release
/Omnibackend.Workflow/obj/Release
/Project.Test/obj/Release
/StoreInspection/obj/Release
/TmallSdk/obj/Release
/omnibackend.web/obj/Release
/omnibackend.web/Properties/PublishProfiles/web-uat.pubxml.user
/omnibackend.web/Properties/PublishProfiles/web-uat.pubxml
/omnibackend.web/Properties/PublishProfiles/web-production.pubxml.user
/omnibackend.web/Properties/PublishProfiles/web-production.pubxml
/Omnibackend.Shop/obj/Release
/omnibackend.openapi/obj/Release
/omnibackend.openapi/Properties/PublishProfiles/api-uat.pubxml.user
/omnibackend.openapi/Properties/PublishProfiles/api-uat.pubxml
/omnibackend.openapi/Properties/PublishProfiles/api-production.pubxml.user
/omnibackend.openapi/Properties/PublishProfiles/api-production.pubxml
/Jd.Stock.Sync/bin/Debug
/Order.Sync.V2/bin/Debug
/Print.Client.V2/bin/Debug/app.publish
/Print.Client.V2/Print.Client.csproj.user
/Jd.Stock.Sync/obj/Release
/Order.Sync.V2/obj/Release
/Order.Sync.V2/bin/Release
/omnibackend.api/omnibackend.orderssdk.csproj.user
/omnibackend.web/Properties/PublishProfiles/FolderProfile.pubxml.user
/omnibackend.web/Properties/PublishProfiles/FolderProfile.pubxml
/omnibackend.web/obj/CHN.PRO.Debug
/DreamLab/Core/obj/Debug
/DreamLab/.vs/Dreamlab.Core/v15
/DreamLab/Db/obj/Debug
/omnibackend.web/temp/voting
/omnibackend.web/Properties/PublishProfiles
/omnibackend.web/obj/TWN.UAT.Debug
/omnibackend.openapi/Properties/PublishProfiles
/YahooSdk/obj/Debug
*.user
/YahooSdk/bin/Debug
/YahooSdk/obj/Release
/CafeLib/obj/KOR.UAT.Debug
/omnibackend.api/obj/KOR.UAT.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JdSdk/obj/KOR.UAT.Debug
/omnibackend.api/obj/KOR.UAT.Debug
/omnibackend.event/obj/KOR.UAT.Debug/DesignTimeResolveAssemblyReferencesInput.cache
/omnibackend.event/obj/KOR.UAT.Debug
/ECBackendLib/obj/KOR.UAT.Debug
/omnibackend.logic/obj/KOR.UAT.Debug
/omnibackend.openapi/obj/KOR.UAT.Debug
/Omnibackend.Shop/obj/KOR.UAT.Debug
/omnibackend.web/obj/KOR.UAT.Debug
/Omnibackend.Workflow/obj/KOR.UAT.Debug
/Project.Test/obj/KOR.UAT.Debug
/StoreInspection/obj/KOR.UAT.Debug
/TmallSdk/obj/KOR.UAT.Debug
/YahooSdk/obj/KOR.UAT.Debug
/Print.Client.V2/bin
/Print.Client.V2/obj/Release
/Jd.Stock.Sync/bin/Release
/Project.Test/obj/CHN.PRO.Debug
/DreamLab/Core/obj
/DreamLab/Core/.vs
/DreamLab/Db/obj
/IntranetTools/obj
/Print.Client.V2/obj
/Print.Client/obj
/Print.Data/obj
/TmallSdk.Test.Console/obj
/omnibackend.openapi.client/obj
/omni.apitest/obj
/WorkFlowClient/obj
/TmallSdk.Console/obj
/omnibackend.web/obj/TWN.PRO.Debug
/omnibackend.web/obj/SGP.UAT.Debug
/Project.Test/obj/CHN.UAT.DEBUG
/Tmall.Order.SyncUAT/obj/Debug/Tmall.Order.Sync.UAT.csproj.CoreCompileInputs.cache
/Tmall.Order.SyncUAT/obj
/YahooSdk/bin/KOR.UAT.Debug
/omnibackend.web/temp/excel
/DreamLab/Db/bin
/omni.Sync/.vs/Jd.Sync/v15
/omni.Sync/bin/Debug
/omni.Sync/obj/Debug
/YahooSdk/bin/Release
/omni.Sync/obj/Release
/omni.Sync/bin/Release
/Sync.Core/bin/Release
/Sync.Core/obj/Release
/Sync.Core/bin/Debug
/Sync.Core/obj/Debug
.DS_Store
/eVM/BLS.eVM.Business/bin/Debug
/eVM/BLS.eVM.Business/obj/Debug
/eVM/BLS.eVM.Repository
/eVM/BLS.eVM.Repository.Entity
/Promotion/BLS.Promotion.Infra/bin/Debug
/Promotion/PromotionBusiness/bin/Debug
/Promotion/BLS.Promotion.Infra/obj/Debug
/Promotion/PromotionBusiness/obj/Debug
/Promotion/PromotionRepository/bin/Debug
/Promotion/PromotionRepository/obj/Debug
/Promotion/PromotionRepository/obj/Release
/Promotion/BLS.Promotion.Infra/bin/Release
/Promotion/BLS.Promotion.Infra/obj/Release
/Promotion/PromotionBusiness/bin/Release
/Promotion/PromotionBusiness/obj/Release
/Promotion/PromotionRepository/bin/Release
/eVM/BLS.eVM.Business/obj/Release
/eVM/BLS.eVM.Business/bin/Release
/.idea
/omnibackend.ecs/.vs
/omnibackend.ecs/bin
/omnibackend.ecs/obj/Debug
/omnibackend.ecs/packages
/OmniBackend.RemoteEcs/bin/Debug/netcoreapp2.1
/OmniBackend.RemoteEcs/obj
/OmniBackend.RemoteEcs/.vs
/OmniBackend.RemoteEcs/.vscode
/OmniBackend.RemoteEcs/bin
/Client.Resources/obj/Debug
/Client.Resources/bin/Debug
/Client.Resources/bin/Release
/Client.Resources/obj/Release
/omnibackend.web/uploads
/YbSdk/obj/Debug
/YbSdk/bin/Debug
/YbSdk/bin/Release
/YbSdk/obj/Release
/Client.Test/bin
/Client.Test/obj
/omnibackend.ecs/.idea/.idea.omnibackend.ecs.dir/.idea
/omnibackend.ecs/.idea/.idea.omnibackend.ecs.dir
/OmniBackend.RemoteData/bin
/OmniBackend.RemoteData/obj
/TopSdk-Core/obj
/TopSdk-Core/bin/Debug/netcoreapp2.2
/TopSdk-Core/bin/Release/netcoreapp2.2
/ZTest.Console/obj/Debug
/ZTest.Console/bin/Debug
/ZTest.Console
/omnibackend.openapi/obj/CHN.UAT.Debug
/omnibackend.ecs/.idea/.idea.omnibackend.ecs/.idea
/omnibackend.ecs/.idea/.idea.omnibackend.ecs
/OmniBackend.RemoteEcs/.idea/.idea.OmniBackend.RemoteEcs/.idea
/OmniBackend.RemoteEcs/.idea/.idea.OmniBackend.RemoteEcs
/Project.Test/obj
/Project.Test/bin
/EcommSdk/obj/Release
/EcommSdk/obj/Debug
/EcommSdk/bin/Debug
/EcommSdk/bin/Release
/Client.Resources/obj
/EcommSdk/obj/HCT.Release
/EcommSdk/obj/ROS.Release
/Jd.Stock.Sync/bin/HCT-release
/Jd.Stock.Sync/bin/ROS-release
/Jd.Stock.Sync/obj/HCT-release
/Jd.Stock.Sync/obj/HCT.Release
/Jd.Stock.Sync/obj/ROS-release
/Jd.Stock.Sync/obj/ROS.Release
/JdSdk/obj/HCT.Release
/JdSdk/obj/ROS.Release
/omni.Sync/obj/HCT.Release
/omni.Sync/obj/ROS.Release
/omnibackend.logic/obj
/Order.Sync.V2/obj/HCT.Release
/Order.Sync.V2/obj/ROS.Release
/Sync.Core/obj/HCT.Release
/Sync.Core/obj/ROS.Release
/TmallSdk/obj/HCT.Release
/TmallSdk/obj/ROS.Release
/YahooSdk/obj/HCT.Release
/YahooSdk/obj/ROS.Release
/YbSdk/obj/HCT.Release
/YbSdk/obj/ROS.Release
/omnibackend.openapi/obj
/omnibackend.web/obj
/MomoSdk/obj/Debug
/MomoSdk/obj/Release
/MomoSdk/bin/Debug
/MomoSdk/bin/Release
/omni.Sync/.vs/Yahoo.Sync/v15
/WeixinSdk/bin
/WeixinSdk/obj
/WeiXin.Sync/obj
/WeiXin.Sync/bin/Release
/WeiXin.Sync/bin/Release/zh-Hans
/WeiXin.Sync/bin/Release/zh-Hant
/WeiXin.Sync/bin/Release
/WeiXin.Sync/bin/Debug
/omnibackend.workflowapi/.vs
/Omnibackend.Workflow/.vs
/omnibackend.workflowapi/obj/Debug
/Client.Test.Console/bin/Debug
/Client.Test.Console/obj/Debug
/Client.Test.Console
/OmniBackend.RemoteData/.vs/OmniBackend.RemoteData
/OmniBackend.RemoteEcs/wwwroot
/ECBackendLib/.vs/ECBackendLib/v16/*.suo
/Twn.Sync/obj/Debug
/Twn.Sync/obj/Release
/Twn.Sync/bin/Debug
/Twn.Sync/bin/Release
/91AppSdk/obj/Release
/91AppSdk/bin/Debug
/91AppSdk/bin/Release
/91AppSdk/obj/Debug
/91AppMemberSync/obj/Debug
/91AppMemberSync/bin/Debug/HTN_91APP/DEV/From91/Processing
/91AppMemberSync/bin
/91AppMemberSync/obj/Release
/omnibackend.ecs/obj/Release
/91AppMemberSync/obj
/91AppMemberSync/packages

/omnibackend.web/SqlServerTypes
/omnibackend.web/temp/ShopWorkflow
/IHUBVASdk/obj/Debug
/IHUBVASdk/bin/Debug
/IHUBVASdk/bin/Release
/IHUBVASdk/obj/Release
/ZHBankSdk/bin/Debug
/ZHBankSdk/obj/Debug
/ZHBankSdk/bin/Release
/ZHBankSdk/obj/Release
/omnibackend.api/obj/CHN.UAT.Debug
/omnibackend.api/obj/TWN.UAT.Debug
/SPDocument/bin/Debug
/SPDocument/bin
/SPDocument/obj/Debug
/SPDocument/obj/Release
/omnibackend.web/temp/uploadftp
/ActivateWeb/obj
/ActivateWeb/bin
/OmniBackend.MomoSdk/bin
/OmniBackend.MomoSdk/obj
/OmniBackend.MomoSdk/packages
/OmniBackend.YbSdk/bin
/OmniBackend.YbSdk/obj
/OmniBackend.YbSdk/packages
/OmniBackend.SyncServiceApp/bin
/OmniBackend.SyncServiceApp/obj
/OmniBackend.SyncServiceApp/packages
/OmniBackend.WindowsService/OmniBackendService.SampleService/bin/Release
/OmniBackend.WindowsService/OmniBackendService.SampleService/obj
/OmniBackend.WindowsService/packages/Newtonsoft.Json.12.0.3
/OmniBackend.WindowsService/ServiceBase/bin
/OmniBackend.WindowsService/ServiceBase/obj
/OmniBackend.WindowsService/ServiceInstaller/bin
/OmniBackend.WindowsService/ServiceInstaller/obj
/OmniBackend.SyncCore/bin/Debug
/OmniBackend.SyncCore/bin/Release
/OmniBackend.SyncCore/obj
/OmniBackend.SyncCore/packages
/Dreamlab.Db/bin
/Dreamlab.Core/bin
