@{
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <p>三个等宽列</p>
    <p>提示：请尝试在行类中添加一个 class="col" 的新 div - 将创建四个等宽的列。</p>
    <div class="row">
        <div class="col p-3 bg-primary text-white">.col</div>
        <div class="col p-3 bg-dark text-white">.col</div>
        <div class="col p-3 bg-primary text-white">.col</div>
        <div class="col p-3 bg-dark text-white">.col</div>
        <div class="col p-3 bg-danger text-white">.col</div>
    </div>

    <div class="row">
        <div class="col-sm-4 p-3 bg-primary text-white">.col-lg-4</div>
        <div class="col-sm-8 p-3 bg-dark text-white">.col-sm-8</div>
    </div>

    <div class="row">
        <div class="col-sm-6 p-3 bg-primary text-white">.col-lg-6</div>
        <div class="col-sm-6 p-3 bg-danger text-white">.col-lg-6</div>
    </div>


</div>