
@{
    ViewBag.Title = "Ch9_Badge";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid  text-center">
    <p class="h2">Ch9_Badge</p>
</div>

<h1>Example heading <span class="badge bg-secondary">New</span></h1>
<h2>Example heading <span class="badge bg-secondary">New</span></h2>
<h3>Example heading <span class="badge bg-secondary">New</span></h3>
<h4>Example heading <span class="btn btn-warning">New</span></h4>
<h5>Example heading <span class="badge bg-secondary">New</span></h5>
<h6>Example heading <span class="badge bg-danger">New</span></h6>

<hr>
<span class="badge bg-primary">主要</span>
<span class="badge bg-secondary">次要</span>
<span class="badge bg-success">成功</span>
<span class="badge bg-danger">危险</span>
<span class="badge bg-warning">警告</span>
<span class="badge bg-info">信息</span>
<span class="badge bg-light">浅色</span>
<span class="badge bg-dark">badge_span深色</span>
<span class="btn btn-dark">btn_span深色</span>
<button type="button" class="btn btn-dark">链接</button>
<button type="button" class="btn btn-secondary">次要</button>
<hr>

<span class="badge rounded-pill bg-primary">主要</span>
<span class="badge rounded-pill bg-secondary">次要</span>
<span class="badge rounded-pill bg-success">成功</span>
<span class="badge rounded-pill bg-danger">危险</span>
<span class="badge rounded-pill bg-warning">警告</span>
<span class="badge rounded-pill bg-info">信息</span>
<span class="badge rounded-pill bg-light">浅色</span>
<span class="badge rounded-pill bg-dark">深色</span>
<button type="button" class="btn  rounded-pill btn-success">成功Btn</button>
<hr>

<button type="button" class="btn btn-primary">
    消息 <span class="badge rounded-pill bg-danger">4</span>        
</button>