
@{
    ViewBag.Title = "Ch10_Progress_Bar";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}


<div class="container-fluid  text-center">
    <p class="h2">Ch10_Progress_Bar</p>
</div>

<div class="progress">
    <div class="progress-bar" style="width:55%">55%</div>
</div>
<hr>
<div class="progress" style="height:20px">
    <div class="progress-bar" style="width:40%;"></div>
</div>
<hr>

<div class="progress">
    <div class="progress-bar bg-info" style="width:70%">70%</div>
</div>
<hr>

<div class="progress">
    <div class="progress-bar" style="width:100%">100%</div>
</div>
<hr>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" style="width:40%">40%</div>
</div>
<hr>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
</div>
<hr>

<div class="progress">
    <div class="progress-bar bg-success" style="width:40%">
        Free Space
    </div>
    <div class="progress-bar bg-warning" style="width:10%">
        Warning
    </div>
    <div class="progress-bar bg-danger" style="width:20%">
        Danger
    </div>
</div>
<hr>