
@{
    ViewBag.Title = "Ch16_Collapse";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}


<div class="container-fluid  text-center">
    <p class="h2">Ch16_Collapse</p>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo1">春日</button>
<div id="demo1" class="collapse">
    <p>胜日寻芳泗水滨，无边光景一时新。</p>
    <p>等闲识得东风面，万紫千红总是春。</p>
</div>
<hr>

<a href="#demo2" data-bs-toggle="collapse">春日</a>
<div id="demo2" class="collapse">
    <p>胜日寻芳泗水滨，无边光景一时新。</p>
    <p>等闲识得东风面，万紫千红总是春。</p>
</div>
<hr>

<div id="accordionza">

    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                可折叠组项目 #1
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                <h3>春日</h3>
                <p>胜日寻芳泗水滨，无边光景一时新。</p>
                <p>等闲识得东风面，万紫千红总是春。</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                可折叠组项目 #2
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <h3>初夏绝句</h3>
                <p>纷纷红紫已成尘，布谷声中夏令新。</p>
                <p>夹路桑麻行不尽，始知身是太平人。</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                可折叠组项目 #3
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <h3>山行</h3>
                <p>远上寒山石径斜，白云生处有人家。</p>
                <p>停车坐爱枫林晚，霜叶红于二月花。</p>
            </div>
        </div>
    </div>

</div>