
@{
    ViewBag.Title = "Ch3_Text_H1_To_H5";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<p class="h2">Ch3_Text_H1_To_H5</p>

<div class="container-fluid mt-3">
    <p class="h1">h1 Bootstrap heading</p>
    <p class="h2">h2 Bootstrap heading</p>
    <p class="h3">h3 Bootstrap heading</p>
    <p class="h4">h4 Bootstrap heading</p>
    <p class="h5">h5 Bootstrap heading</p>
    <p class="h6">h6 Bootstrap heading</p>
</div>



<div class="container mt-3">
    <h1>上下文颜色</h1>
    <p>请使用上下文类来提供“由颜色表达的某种意义”。</p>
    <p class="text-muted">此文本已静音。</p>
    <p class="text-primary">此文字很重要。</p>
    <p class="text-success">此文本表示成功。</p>
    <p class="text-info">此文字代表了一些信息。</p>
    <p class="text-warning">此文本表示警告。</p>
    <p class="text-danger">此文字代表危险。</p>
    <p class="text-secondary">次要文本。</p>
    <p class="text-dark">此文字为深灰色。</p>
    <p class="text-body">默认主体颜色（通常为黑色）。</p>
    <p class="text-light">此文本为浅灰色（在白色背景上）。</p>
    <p class="text-white">这段文字是白色的（在白色背景上）。</p>
</div>

<div class="container mt-3">
    <h1>上下文背景</h1>
    <p>请使用上下文背景类来提供“由颜色表达的某种意义”。</p>
    <p>请注意，如果您想要不同的文本颜色，您还可以添加 .text-* 类：</p>
    <p class="bg-primary text-white">此文本很重要。</p>
    <p class="bg-success text-white">此文本表示成功。</p>
    <p class="bg-info text-white">此文本代表了一些信息。</p>
    <p class="bg-warning text-white">此文本表示警告。</p>
    <p class="bg-danger text-white">此文本代表危险。</p>
    <p class="bg-secondary text-white">次要背景颜色。</p>
    <p class="bg-secondary text-white">次要背景颜色。</p>
    <p class="bg-dark text-white">深灰色背景颜色。</p>
    <p class="bg-light text-dark">浅灰色背景色。</p>
</div>