
@{
    ViewBag.Title = "Ch4_Table";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}




<div class="container mt-3">    
    <p class="h2">.table 类为表格添加了基本样式（浅色内边距和水平分隔线）：</p>    
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bill</td>
                <td>Gates</td>
                <td>bill@example.com</td>
            </tr>
            <tr>
                <td>Steve</td>
                <td>Jobs</td>
                <td>steve@example.com</td>
            </tr>
            <tr>
                <td>Elon</td>
                <td>Musk</td>
                <td>elon@example.com</td>
            </tr>
        </tbody>
    </table>
</div>