
@{
    ViewBag.Title = "Ch5_Image";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid  text-center">
    <p class="h2">Ch5_Image</p>
</div>






<div class="row">
    <div class="col-sm-6 "><img src="~/Image/flower-1.jpg" class="img-fluid" alt="Park" width="2000" height="1085"></div>
    <div class="col-sm-6 "><img src="~/Image/flower-1.jpg" class="img-fluid" alt="Park" width="2000" height="1085"></div>
</div>