
@{
    ViewBag.Title = "Ch6_Jumbotron";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}



<div class="container-fluid  text-center">
    <p class="h2">Ch6_Jumbotron</p>
</div>

<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Jumbotron 实例</h1>
    <p>上海市，简称沪，别称申，是中华人民共和国直辖市，中国的经济、金融、贸易和航运中心 ...</p>
</div>