
@{
    ViewBag.Title = "Ch7_Alert";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid  text-center">
    <p class="h2">Ch7_Alert</p>
</div>

<div class="alert alert-success">
    <strong>成功！</strong>此警报框表示成功或积极的动作。
</div>

<div class="alert alert-info">
    <strong>info！</strong>此警报框表示info的动作。
</div>

<div class="alert alert-warning">
    <strong>warning！</strong>此警报框表示warning的动作。
</div>

<div class="alert alert-danger">
    <strong>danger！</strong>此警报框表示danger的动作。
</div>

<div class="alert alert-primary">
    <strong>primary！</strong>此警报框表示primary的动作。
</div>

<div class="alert alert-secondary">
    <strong>secondary！</strong>此警报框表示secondary的动作。
</div>

<div class="alert alert-light">
    <strong>light！</strong>此警报框表示light的动作。
</div>

<div class="alert alert-dark">
    <strong>dark！</strong>此警报框表示dark的动作。
</div>
