
@{
    ViewBag.Title = "Ch8_Button";
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid  text-center">
    <p class="h2">Ch8_Button</p>
</div>

<button type="button" class="btn">基础</button>
<button type="button" class="btn btn-primary">主要</button>
<button type="button" class="btn btn-secondary">次要</button>
<button type="button" class="btn btn-success">成功</button>
<button type="button" class="btn btn-info">信息</button>
<button type="button" class="btn btn-warning">警告</button>
<button type="button" class="btn btn-danger">危险</button>
<button type="button" class="btn btn-dark">深色</button>
<button type="button" class="btn btn-light">浅色</button>
<button type="button" class="btn btn-link">链接</button>
<hr>
<a href="#" class="btn btn-success">链接按钮</a>
<button type="button" class="btn btn-success">按钮</button>
<input type="button" class="btn btn-success" value="输入按钮">
<input type="submit" class="btn btn-success" value="提交按钮">
<input type="reset" class="btn btn-success" value="重置按钮">
<hr>
<button type="button" class="btn btn-outline-primary">主要</button>
<button type="button" class="btn btn-outline-secondary">次要</button>
<button type="button" class="btn btn-outline-success">成功</button>
<button type="button" class="btn btn-outline-info">信息</button>
<button type="button" class="btn btn-outline-warning">警告</button>
<button type="button" class="btn btn-outline-danger">危险</button>
<button type="button" class="btn btn-outline-dark">深色</button>
<button type="button" class="btn btn-outline-light">浅色</button>
<hr>
<div class="container-fluid  text-center">
    <p class="h2">Button_Group</p>
</div>

<div class="container p-3  text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">华为</button>
        <button type="button" class="btn btn-outline-warning">小米</button>
        <button type="button" class="btn btn-success">OPPO</button>
    </div>
</div>
