@{
    Layout = "~/Views/Shared/_BootStrap_Layout.cshtml";
}

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>ZA我的第一张Bootstrap页面</h1>
    <p>请调整这张响应式页面的大小以查看效果！</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>列 1</h3>
            <p>胜日寻芳泗水滨，无边光景一时新。</p>
            <p>等闲识得东风面，万紫千红总是春。</p>
        </div>
        <div class="col-sm-4">
            <h3>列 2</h3>
            <p>纷纷红紫已成尘，布谷声中夏令新。</p>
            <p>夹路桑麻行不尽，始知身是太平人。</p>
        </div>
        <div class="col-sm-4">
            <h3>列 3</h3>
            <p>远上寒山石径斜，白云生处有人家。</p>
            <p>停车坐爱枫林晚，霜叶红于二月花。</p>
        </div>
    </div>
</div>
