<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 5 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- 長條圖的原始程式碼, 可以移除掉長條圖就會消失 -->
    @*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@
    <script src="~/Scripts/chart.js"></script>
    
</head>
<body class="bg-secondary p-2" style="--bs-bg-opacity: .3;">
    @RenderBody()
    @RenderSection("chartjs_scripts", required: false)
</body>
</html>
